@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,800;1,300&display=swap');

:root {
  --darkest-blue: hsl(200, 15%, 8%);
  --thirty-darkest-blue: hsla(200, 15%, 8%, .3);
  --thirty-dark-gray: hsla(0, 0%, 52%, .3);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --pokemon-red: hsl(1, 83%, 63%);
  --pokemon-yellow: hsl(46, 99%, 55%);
  --pokemon-blue: hsl(218, 51%, 44%);
  
  --background: var(--very-light-gray);
  --background-element: white;
  --text: var(--darkest-blue);
  --input: var(--dark-gray);
  --shadow: var(--thirty-dark-gray);
}

.Header {
  border: 1px solid red;
  text-align: center;
  background-color: var(--pokemon-red);
}

.HeaderTitle {
  font-weight: 800;
  color: var(--pokemon-yellow);
  -webkit-text-stroke: 1px var(--pokemon-blue);
  margin: 0;
  height: 80px;
  line-height: 80px;
}